/* .login-title{
    font-size: 30px;
    text-align: center;
}
.Login-register-link{
    color: black;
    margin-top: 30px !important;
}
.Login-register-link:hover{
    color: brown;
    text-decoration: underline !important;
    margin-top: 30px !important;
}


@media only screen and (max-width: 600px) {
    .login {
      padding: 0 40px;
    }
  } */