.navbar-container{
  height: 50px;
  margin-top: 20px;
  display: flex;
  position: relative;
  width: 300px;
  justify-content: center;
}
.nav-item{
    color: #fff !important;
    margin: 0px 5px;
    text-decoration: none;
    cursor: pointer;
  }
.cart-bedge{
  position: absolute;
  right: 25px;
  top: -15px;
}
.logout-icon{
  position: absolute;
  right: -15px;
  top: -8px;
}