/* input{
    margin-top: 10px !important;
    box-shadow: none !important;
}
.register-title{
    font-size: 30px;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .register {
      padding: 0 40px;
    }
  } */